# Compilation
build/
# 3D object datasets
data/datasets/*
# Figures
data/figures/*
# Object dataset meshes
data/meshes/*
# Experiment data backup
data/BACKUP/*
# Vim files
*.swp
# Numpy files
*.npy
# YAML files
*.yml
# Bash files
*.sh
